/* Header nav color change to be added on Header Code Injection */
<style>
#header .header-title-logo a img {
    filter: invert(0); 
    transition: filter 0.3s ease;
}
#header.header-on-dark .header-title-logo a img {
    filter: invert(1); 
}
#header .header-nav-item a, #header.header-on-dark .header-actions-action .btn.sqs-button-element--secondary {
    transition: all 0.3s ease;
}  
#header.header-on-dark .header-nav-item a {
  color: #fff;
}
#header.header-on-dark .header-actions-action .btn.sqs-button-element--secondary {
  background-color: #fff;
  color: #000;
}  
</style>


/* Fixed Header to be added under custom css */
body:not(.sqs-edit-mode-active) .header, body:not(.sqs-site-styles-active) .header {
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: all 0.5s ease;

}

body:not(.sqs-edit-mode-active) #header.fixed-header {
    opacity: 1;
}

body.sqs-edit-mode-active #header, body.sqs-site-styles-active #header {
    opacity: 1;   
}

body:not(.sqs-edit-mode-active) #page > article > section:first-child {
  padding-top: 0 !important;
}

